---
import Header from "../components/Header.astro";
import '@fontsource/ibm-plex-mono';
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Welcome!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#FFC1A1">
		<title>{title}</title>
	</head>
	<body>
    <Header />
    <slot />
	</body>
</html>
<style>
  body {
    background: linear-gradient( #FFC1A1, #FFB6C1, #A89FBD, #A8E4A0, #FFF4B2);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;  /* Added line */
    color: white;
    font-family: 'IBM Plex Mono', cursive;
  }
</style>
