---
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout>
  <div class="flex flex-col items-center justify-center min-h-scree pt-24 pl-2 pr-2 pb-8">
    <post class="p-4 rounded-lg shadow-xl backdrop-filter backdrop-blur-lg bg-black bg-opacity-25 border border-black">
      <slot />
    </post>
  </div>
</BaseLayout>
<style>
  post :global(h1) {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  post :global(h2) {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
</style>
