---
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout>
  <div class="flex flex-col items-center justify-center min-h-scree pt-24 pl-2 pr-2 pb-8">
    <post class="p-4 rounded-lg shadow-xl backdrop-filter backdrop-blur-lg bg-black bg-opacity-25 border border-black">
      <slot />
    </post>
  </div>
</BaseLayout>
<style>
  post :global(h1) {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  post :global(h2) {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  post :global(h3) {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  post :global(a) {
    color: var(--color-primary);
    text-decoration: underline;
    
  }
  post :global(ul) {
    list-style: disc;
    padding-left: 1rem;
  }
  post :global(img) {
    /* center image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    padding: 6px;
  }
  @media (min-width: 768px) {
  post {
    max-width: 66.66%; /* Set the max-width to 2/3 of the parent element */
    margin: 0 auto; /* This will center the post */
    word-wrap: break-word; /* Ensures that long words will wrap and not extend outside the container */
  }
}
</style>